main{
    display: flex;
    justify-content:center
} 
.container{
    display: flex;
    justify-content: space-around;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-content h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.button {
    display:flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
